{
    "telegram_token": "telegram_token",
    "channel_1": [
        "@MyChannelchatId",
        "python",
        "daily"
    ],
    "channel_2": [
        "@MyChannelchatId",
        "javascript",
        "daily"
    ],
    "channel_3": [
        "@MyChannelchatId",
        "programming_language",
        "daily"
    ]
}